.App {
  text-align: center;
}


.body{
  background-color: rgb(226,228,230);
  height:600px;
}


.header{
  height: 56px;
  padding:0 16px;
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;
}

.header-left{
  flex-grow: 1;
  display:flex;
  align-items: center;
}

.header-center{
  flex-grow: 2;
}

.header-right{
  flex-grow: 1;
}
button:hover{
  cursor:pointer;
}

.hamburger-menu{
  display:inline-block;
  width: 40px;
  height:40px;
  padding:8px;
  position:relative;
  margin-right: 16px;
}

.logo-container{
  display:inline-block;
  padding-top:5px;
}

.logo-img{
    width:80px;
}

.logo-img:hover{
  cursor:pointer;
}

.hamburger-menu, .new-post-button, .apps-button, .notification-button, .account-circle {
  background-color: transparent;
  border: none;
}


.search-bar{

}

.search-input{

}


.new-post-button{

}