.App {
  text-align: center;
}


.body{
  background-color: rgb(226,228,230);
  height:600px;
}


.header{
  height: 56px;
  padding:0 16px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}
button:hover{
  cursor:pointer;
}


.logo-container{

}

.logo-img{
    width:75px;
}

.search-button, .hamburger-menu, .new-post-button, .apps-button, .notification-button, .account-circle {
  background-color: transparent;
  border: none;
}

.hamburger-menu{

}

.search-bar{

}

.search-input{

}


.new-post-button{

}